/* You can add global styles to this file, and also import other style files */


.mb-0{
  margin-bottom: 0 !important;
}

.dotted{
  border: 2px dashed #eeeeee;
  padding: 3em 6em;
  background-color: transparent;
}
.card-light{
  min-width: 30%;
  min-height: 40px;
  height: auto !important;
}
